<div id="wrapper">

  <% if user_signed_in? %>
    <div id="content_form">
      <h2>【新規投稿】</h2>

      <%= form_with model: @post, url: application_index_path, local: true do |form| %>
        <%= form.text_field :title, id: 'content_form__title', placeholder: 'タイトル' %><br>
        <%= form.text_area :content, id: 'content_form__content', placeholder: '内容を記入してください。' %><br>
        <%= form.submit '投稿する', id: 'content_form__submit' %>
      <% end %>
    </div>
  <% end %>

  <div id="contents">
    <% @posts.each do |post| %>
      <div id="content">
        <div id="content__title">
          <%= post.title%>
          <% if user_signed_in? %>
            <%= link_to "削除", application_path(post.id), method: :delete, id: 'content__title--delete' %>
          <% end %>
        </div>
        <div id="content__date">
          [投稿日]：<%= post.created_at%>
        </div>
        <div id="content__content">
          <%= simple_format post.content%>
        </div>
      </div>
    <% end %>
  </div>
</div>